@import './varfonts.scss';

$font-stack:    Helvetica, sans-serif;
$white:#ffffff;
$font-primary-color: rgb(17, 17, 17);
$font-secondary-color:#7d7d7d;
$menu-hover-color: rgb(195, 13, 35);
$menu-color: #333333;
$Black-color: #000000;
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width:480px;
$menu-background:#eeeeee;
$user-icon-color:#962CC9;
$font-PSansRegular: ProductSans-Regular;
$font-PSansThin: ProductSans-Thin;
$font-PSansRegular: ProductSans-Regular;
$font-PSansMedium: ProductSans-Medium;
$font-PSansLight: ProductSans-Light;

$primary-font-size:13px;
$review-account:30px;
$review-Star:#ffc107;
$size-eighteen:18px;
$right-item-size:15px;
$right-text-color:#202124;



$drawer-fontsize:20px;
$drawer-color:#333333;
$drawer-weight:bold;
$drawer-family:ProductSans-Medium;
$drawersub-family:ProductSans-Regular;
$drawer-fontsize:20px;

$drawersub-fontsize:15px;
$right-table-th:14px;
$right-table-td:12px;
$right-table-color:#363636;;
$sidebar-title-size:24px;
$sidebar-list-size: 16px;

//new style
$search-size:18px;